* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    border-style: none;
    min-height: 100%;
}
body {
    line-height: unset !important;
}

input {
    font-size: 1em;
}

@media only screen and (max-width:799px) {
    .btn {
        font-size: 1.2em;
        padding: 3px;
       
    }
}

@media only screen and (min-width:800px) {
    .btn {
        font-size: 1.2em;
        padding: 3px 15px;
    }
}
.btn{
    font-size: 1.2em;
    border-radius: 7px;
    margin-right : 10px;
    border: 1px rgb(224, 224, 224) solid;
}

.calc{
    border-spacing: 0;
    border-collapse: separate;
    background: #fcfcfc;
    border: 1px rgb(224, 224, 224) solid;
    border-radius: 1em;
    padding: 1.2em;
    font-size: 0.8em;
    font-family: Arial, Verdana, Helvetica, sans-serif;

}
.intextlabel{
    font-size: 1.2em;
}

.abt{
    font-size: 1.2em;
    word-spacing: 3px;
    padding: 7px  20px;
    color: rgb(252, 252, 252);
    background: #000000;
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    

}

.fdback{
    font-size:  1.2em;
    word-spacing: 2px;
    padding: 7px;
    color: rgb(252, 252, 252);
    background: #000000;
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin-right : 10px;

}
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height:auto;
    color: #fcfcfc;
    background: #000;
    
}
.footer-bottom p{
    
    font-size: 0.8em;
    word-spacing: 2px;
    text-transform: capitalize;
}


